


.header-continar img{
    width: 60px;
    height: 60px;

}
.header-continar .nav-header{
    height: 40px;
    width: 94.7%;
    background-color: #222;
    float: right;
    margin-top: 0%;
    padding: 10px;
   
}
.header-continar .nav-header a{
    padding: 40px;
    margin-left: 12%;
    text-decoration: none;
    color: #fff;  
   
 
 
}

.header-continar .nav-header :hover{
  color:cadetblue;



   
}


.main-container h1{
    text-align: center;
    margin-top: 8%;
}

.main-container  th , td{
    border: 1px solid #808080;
    width:  35%;
    text-align: center;
    padding: 2%;
    margin: 0;
  

}
.main-container .back{
    background-color: red;
}
.main-container .green{
    background-color: green;
}
.main-container table {
   margin-left: 36%;
   margin-top: 3%;

   
}


.footer{
   
     text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: #fff;
    margin-top: 6%;
    
} 
























